<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename = 'vendors/fullcalendar/fullcalendar.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename = 'assets/styles.css') }}" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename = 'vendors/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin" action="{{ url_for('views.login') }}" method="post" name="lgoin">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>{{ form.email(class="input-block-level",placeholder="Email address") }}</p>
        <p>{{ form.password(class="input-block-level",placeholder="Password") }}</p>
        <label class="checkbox">
          <p>{{ form.remember() }}</p>Remember me
        </label>
        <p>{{ form.submit(class="btn btn-large btn-primary") }}</p>

      </form>

    </div> <!-- /container -->
    <script src="{{ url_for('static', filename = 'vendors/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>