<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{{ url_for('static', filename = 'css/style.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename = 'css/font-awesome.css') }}" rel="stylesheet">
<!-- jQuery -->
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<!----webfonts--->
<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
</head>
<body id="login">
  <div class="login-logo">
    <a href="index.html"><img src="images/logo.png" alt=""/></a>
  </div>
  <h2 class="form-heading">login</h2>
  <div class="app-cam">
	  <form action="{{ url_for('views.login') }}" method="post" name="lgoin">

		{{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>{{ form.email(class="input-block-level",placeholder="Email address") }}</p>
        <p>{{ form.password(class="input-block-level",placeholder="Password") }}</p>
        <label class="checkbox">
          <p>{{ form.remember() }}</p>Remember me
        </label>
        <p>{{ form.submit(class="btn btn-large btn-primary") }}</p>
		<ul class="new">
			<li class="new_left"><p><a href="#">Forgot Password ?</a></p></li>
			<li class="new_right"><p class="sign">New here ?<a href="register.html"> Sign Up</a></p></li>
			<div class="clearfix"></div>
		</ul>
	</form>
      <form class="form-signin" action="{{ url_for('views.login') }}" method="post" name="lgoin">


      </form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2015.Bigiver All rights <a href="https://github.com/bigiver/datacollection/" target="_blank" title="数据之家">Data collection</a></p>
   </div>
</body>
</html>
